* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Merriweather', serif;
  background-color: #fafafc;
}

header {
  padding: 2rem 6rem;
  box-shadow: 4px 5px 14px rgba(0, 0, 0, 0.1);

  .logout {
    font-size: 0.5rem;
    cursor: pointer;

    img {
      margin-right: 0.5rem;
    }

    p {
      margin: 0;
    }
  }
}

.main-container {
  display: flex;
  flex-direction: column;

  .row {
    .custom-sidebar {
      padding: 2rem;
      margin-left: 6rem;
      height: 770px;
      z-index: -99999;

      .user-info {
        h2 {
          font-size: 15px;
          font-weight: 500;
          font-family: sans-serif;
        }

        .content {
          padding-bottom: 1rem;

          p {
            margin-bottom: 0;
            font-size: 14px;
          }
        }
      }
    }

    .custom-content {
      padding: 1rem;

      p {
        font-size: 14px;
        font-family: sans-serif;
        line-height: 16px;
        color: #6f7381;
      }
    }

    .data-column {
      padding: 1rem;
      text-align: left;

      .main-text {
        font-weight: 400;
      }

      .texti {
        color: #6f7381;
        font-size: 14px;
        font-family: sans-serif;
      }
    }
  }

  .title-data,
  .data-table {
    margin-left: 1rem;
  }

  .custom-row {
    max-width: 825px;
    margin: 0 auto;
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }

  .collapsible-arrow {
    cursor: pointer;
    transition: transform 0.2s;

    &.collapsed {
      transform: rotate(-90deg);
    }
  }

  .data-row {
    transition: max-height 0.3s;
    overflow: hidden;
    max-height: 40px;
  }
}

.table {
  width: 800px;
  th,
  td {
    border: none;
    padding: 0.5rem;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
  }

  .texti {
    color: #6f7381;
  }

  tbody tr {
    background-color: white;
  }

  &.table-bordered {
    border: none !important;

    thead th {
      border-bottom: none;
    }
  }

  .cell-content {
    padding: 0.7rem 0;
  }
}

@media (max-width: 767.98px) {
  header {
    padding: 0.5rem;

    .groupama-logo,
    .logout img {
      height: 24px;
    }
  }

  .main-container .row {
    margin: 0;
  }
}
