* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Merriweather", serif;
  background-color: #f1f1f1;
}

header {
  padding: 2rem 6rem;
  box-shadow: 4px 5px 14px rgba(0, 0, 0, 0.1);
}
header .logout {
  font-size: 0.5rem;
  cursor: pointer;
}
header .logout img {
  margin-right: 0.5rem;
}
header .logout p {
  margin: 0;
}

.container-fluid {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container-fluid .row {
  margin: 0;
}
.container-fluid .row .custom-sidebar {
  padding: 2rem;
  margin-left: 6rem;
  height: 770px;
  z-index: -99999;
}
.container-fluid .row .user-info h2 {
  font-size: 15px;
  font-weight: 500;
  font-family: sans-serif;
}
.container-fluid .row .user-info .content {
  padding-bottom: 1rem;
}
.container-fluid .row .user-info p {
  margin-bottom: 0;
  font-size: 14px;
}
.container-fluid .row .custom-content {
  padding: 1rem;
}
.container-fluid .row .right-container .data-column {
  padding: 1rem;
  text-align: left;
  display: flex;
  gap: 2rem;
  font-weight: 400;
}
.container-fluid .row .right-container .data-column .data-content p {
  font-size: 14px;
  font-family: sans-serif;
  line-height: 16px;
  color: #6f7381;
}
.container-fluid .row .table-wrap .table-bordered td,
.container-fluid .row .table-wrap .table-bordered th {
  border: none;
}
.container-fluid .row .table-wrap .table {
  box-shadow: 4px 5px 14px rgba(0, 0, 0, 0.1);
  min-width: 800px;
}
.container-fluid .row .table-wrap .table .thead-texti {
  margin-bottom: 10px;
  padding: 10px 0;
}
.container-fluid .row .table-wrap .table tr {
  background-color: white;
}
.container-fluid .row .table-wrap .table tr a {
  text-decoration: none;
  color: #01bba1;
}
.container-fluid .row .table-wrap .table .showing-line {
  background-color: #dc414f;
}
.container-fluid .row .table-wrap .table .showing-line tr th.texti {
  color: #6f7381;
  border: none;
}
.container-fluid .row .table-wrap .table tbody .circle {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin-right: 8px;
}
.container-fluid .row .table-wrap .table tbody .status-folyamatban .circle {
  background-color: #a1caff;
}
.container-fluid .row .table-wrap .table tbody .status-beerkezett .circle {
  background-color: #01bba1;
}
.container-fluid .row .table-wrap .table tbody .status-sikertelen .circle {
  background-color: #dc414f;
}
.container-fluid .row .table-wrap .table tbody .cell-content {
  padding: 0.7rem 0;
}
.container-fluid .row .table-wrap .table tbody .cell-content .iconss {
  cursor: pointer !important;
  background-color: transparent;
}
.container-fluid .row .table-wrap .table tbody .show-more {
  display: none;
}
.container-fluid .row .white-text-black-bg {
  background-color: #f1f1f1;
  color: white;
}

.table-bordered {
  border: none;
}

.container-fluid .row .table-wrap .table {
  box-shadow: 19px 30px 70px 0px rgba(0, 0, 0, 0.1);
  min-width: 800px;
}

.whopsie {
  width: 123px;
}

@media (max-width: 767px) {
  header {
    padding: 0.5rem;
  }
  header .groupama-logo,
  header .logout img {
    height: 24px;
  }
  .container-fluid .row {
    margin: 0;
  }
  .container-fluid .row .custom-sidebar {
    margin-left: 1rem;
  }
  .container-fluid .row .custom-content .right-container .data-content {
    display: none;
  }
  .container-fluid .row .custom-content .row,
  .container-fluid .row .custom-content .table-wrap,
  .container-fluid .row .custom-content .table {
    min-width: auto;
  }
  .container-fluid .row .custom-content table {
    max-width: 350px;
  }
  .container-fluid .row .custom-content table tbody .show-more .payment {
    display: block !important;
  }
  .container-fluid .row .custom-content table tbody .show-more .colspan-hide {
    display: none;
  }
  .container-fluid .row .custom-content table thead {
    display: none;
  }
  .table-wrap table,
  .table-wrap thead,
  .table-wrap tbody,
  .table-wrap th,
  .table-wrap td,
  .table-wrap tr {
    flex-direction: column;
    display: flex;
  }
}/*# sourceMappingURL=style.css.map */