@import 'reset/reset';
@import 'components/table';
@import 'layout/header';
@import 'layout/navigation';
@import 'layout/sidebar';

@mixin flex-col {
  display: flex;
  flex-direction: column;
}

body {
  font-family: 'Merriweather', serif;
  background-color: $primary-color;
}
#wrapper {
  #page-content-wrapper {
    .custom-content {
      padding: 1rem;

      .right-container {
        @include flex-col;
        .row {
          @include flex-col;
        }
      }
    }
  }
}
