*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

#wrapper #page-content-wrapper .custom-content {
  padding: 1rem;
}
#wrapper #page-content-wrapper .custom-content .right-container .row .main-wrapper .content .table {
  min-width: 800px;
}
#wrapper #page-content-wrapper .custom-content .right-container .row .main-wrapper .content .table tr th.table-head-text {
  color: #6f7381;
  border: none;
}
#wrapper #page-content-wrapper .custom-content .right-container .row .main-wrapper .content .table td {
  background-color: white;
}
#wrapper #page-content-wrapper .custom-content .right-container .row .main-wrapper .content .table td .price {
  font-weight: 600 !important;
}
#wrapper #page-content-wrapper .custom-content .right-container .row .main-wrapper .content .table td .cell-content {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
}
#wrapper #page-content-wrapper .custom-content .right-container .row .main-wrapper .content .table tbody {
  box-shadow: 1px 3px 8px 1px rgba(0, 0, 0, 0.07);
  line-height: 3;
}
#wrapper #page-content-wrapper .custom-content .right-container .row .main-wrapper .content .table tbody .show-more {
  display: none;
}
#wrapper #page-content-wrapper .custom-content .right-container .row .main-wrapper .content .table tbody th {
  background-color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
}
#wrapper #page-content-wrapper .custom-content .right-container .row .main-wrapper .content .table tbody tr .order-0 .cell-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
#wrapper #page-content-wrapper .custom-content .right-container .row .main-wrapper .content .table tbody tr .order-0 .cell-content .circle {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin-right: 8px;
}
#wrapper #page-content-wrapper .custom-content .right-container .row .main-wrapper .content .table tbody tr .order-1 .order-beerkezett {
  display: flex;
  align-items: center;
}
#wrapper #page-content-wrapper .custom-content .right-container .row .main-wrapper .content .table tbody tr .order-1 .order-beerkezett .flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
#wrapper #page-content-wrapper .custom-content .right-container .row .main-wrapper .content .table tbody tr.status-berkezett .circle {
  display: inline-block;
  background-color: #01bba1;
}
#wrapper #page-content-wrapper .custom-content .right-container .row .main-wrapper .content .table tbody tr.status-folyamatban .circle {
  background-color: #a1caff;
}
#wrapper #page-content-wrapper .custom-content .right-container .row .main-wrapper .content .table tbody tr.status-sikertelen .circle {
  background-color: #dc414f;
}
#wrapper #page-content-wrapper .custom-content .right-container .row .main-wrapper .content .table tbody tr td .desktop-only-arrow {
  cursor: pointer;
}
#wrapper #page-content-wrapper .custom-content .right-container .row .main-wrapper .content .table .mobile-only {
  display: none;
}
#wrapper #page-content-wrapper .custom-content .right-container .row .main-wrapper .content .table thead {
  background-color: rgba(236, 240, 255, 0.1490196078);
}
#wrapper #page-content-wrapper .custom-content .right-container .row .main-wrapper .content .table thead .table-head-text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #6f7381;
}
#wrapper #page-content-wrapper .custom-content .right-container .row .main-wrapper .content .table td,
#wrapper #page-content-wrapper .custom-content .right-container .row .main-wrapper .content .table th {
  padding: 0.75rem;
  vertical-align: top;
  border-top: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
}
#wrapper #page-content-wrapper .custom-content .right-container .row .main-wrapper .content .hidden-cell {
  visibility: hidden;
}
#wrapper #page-content-wrapper .custom-content .right-container .row .main-wrapper .mobile-only {
  display: none;
}

@media (max-width: 1300px) {
  #wrapper {
    padding: 0 2rem 0 2rem;
  }
  #wrapper #page-content-wrapper .custom-content .right-container {
    margin-left: 2rem !important;
  }
  #wrapper #page-content-wrapper .custom-content .right-container .data-column {
    padding: 2.5rem 0 2.5rem 3rem;
  }
  #wrapper #page-content-wrapper .custom-content .right-container .row .main-wrapper .content .table {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    min-width: -webkit-fill-available;
    width: auto;
  }
  #wrapper #page-content-wrapper .custom-content .right-container .row .main-wrapper .content .table thead {
    display: none;
  }
  #wrapper #page-content-wrapper .custom-content .right-container .row .main-wrapper .content .table tbody {
    display: flex;
    flex-direction: column;
  }
  #wrapper #page-content-wrapper .custom-content .right-container .row .main-wrapper .content .table tr {
    display: flex;
    flex-direction: column;
  }
  #wrapper #page-content-wrapper .custom-content .right-container .row .main-wrapper .content .table tr .order-0 {
    display: block;
  }
  #wrapper #page-content-wrapper .custom-content .right-container .row .main-wrapper .content .table tr .order-0 .cell-content {
    display: block !important;
  }
  #wrapper #page-content-wrapper .custom-content .right-container .row .main-wrapper .content .table .order-0 {
    order: 0;
    display: flex;
  }
  #wrapper #page-content-wrapper .custom-content .right-container .row .main-wrapper .content .table .order-1 {
    order: 1;
    display: flex;
    padding: 0.3rem 2rem;
  }
  #wrapper #page-content-wrapper .custom-content .right-container .row .main-wrapper .content .table .order-2 {
    order: 2;
    display: flex;
    padding: 0.7rem 2rem;
  }
  #wrapper #page-content-wrapper .custom-content .right-container .row .main-wrapper .content .table .order-3 {
    order: 3;
    display: flex;
  }
  #wrapper #page-content-wrapper .custom-content .right-container .row .main-wrapper .content .table .order-4 {
    order: 4;
    display: flex;
  }
  #wrapper #page-content-wrapper .custom-content .right-container .row .main-wrapper .content .table .order-5 {
    order: 5;
    display: flex;
  }
  #wrapper #page-content-wrapper .custom-content .right-container .row .main-wrapper .content .table .order-6 {
    display: flex;
  }
  #wrapper #page-content-wrapper .custom-content .right-container .row .main-wrapper .content .table .order-7 {
    order: 0;
    line-height: 1;
  }
  #wrapper #page-content-wrapper .custom-content .right-container .row .main-wrapper .content .table .order-8 {
    line-height: 2;
  }
  #wrapper #page-content-wrapper .custom-content .right-container .row .main-wrapper .content .table .desktop-only {
    display: none;
  }
  #wrapper #page-content-wrapper .custom-content .right-container .row .main-wrapper .content .table .mobile-only {
    display: table-cell;
  }
  #wrapper #page-content-wrapper .custom-content .right-container .row .main-wrapper .content .table .mobile-only .iconss {
    display: inline;
  }
  #wrapper #page-content-wrapper .custom-content .right-container .row .main-wrapper .content .table .arrow-mobile {
    height: 10px;
  }
  #wrapper #page-content-wrapper .custom-content .right-container .row .main-wrapper .content .desktop-only-arrow {
    display: none;
  }
  #wrapper .row {
    margin: 0 !important;
  }
  #wrapper .px-4 {
    padding: 0 !important;
  }
  #wrapper .d-flex {
    display: block !important;
  }
}
@media (max-width: 780px) {
  #wrapper {
    padding: 0 1rem 0 1rem;
  }
  #wrapper #page-content-wrapper .custom-content .right-container .data-column {
    padding: 0 0 1rem 0;
  }
  #wrapper #page-content-wrapper .custom-content .right-container .row {
    margin-left: 0 !important;
  }
  #wrapper #page-content-wrapper .custom-content .right-container .row .main-wrapper {
    margin: 0 !important;
  }
  #wrapper #page-content-wrapper .custom-content .right-container .row .main-wrapper .content .table {
    width: 275px;
  }
  #wrapper #page-content-wrapper .custom-content .right-container .row .main-wrapper .content .table tbody {
    line-height: 0.5;
  }
  #wrapper #page-content-wrapper .custom-content .right-container .row .main-wrapper .content .table .arrow-mobile {
    height: 8px;
  }
  [class^=col] {
    padding: 0;
  }
}
header {
  padding: 2rem 6rem;
  box-shadow: 4px 5px 14px rgba(0, 0, 0, 0.1);
  display: flex;
}
header .logout {
  font-size: 0.5rem;
  cursor: pointer;
}
header .logout img {
  margin-right: 0.5rem;
}
header .logout p {
  margin: 0;
}

@media (max-width: 767px) {
  header {
    padding: 0.5rem;
  }
  header .groupama-logo,
  header .logout img {
    height: 24px;
  }
}
.right-container .data-column {
  padding: 1rem;
  text-align: left;
  display: contents;
  gap: 2rem;
  font-weight: 400;
}
.right-container .data-column .data-content p {
  font-size: 14px;
  font-family: sans-serif;
  line-height: 16px;
  color: rgba(236, 240, 255, 0.1490196078);
}
.right-container .data-column nav.menu-list {
  display: flex;
}
.right-container .data-column nav.menu-list ul {
  list-style: none;
  margin: 0;
  padding: 10px 0;
  position: relative;
  z-index: 2;
  display: flex;
  gap: 2rem;
}
.right-container .data-column nav.menu-list ul li.data-content {
  position: relative;
}
.right-container .data-column nav.menu-list ul li.data-content a.menu-item {
  text-decoration: none;
  color: #000000;
  position: relative;
  height: 200px;
}
.right-container .data-column nav.menu-list ul li.data-content a.menu-item.active {
  font-weight: bold;
  position: relative;
}
.right-container .data-column nav.menu-list ul li.data-content a.menu-item.active::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #01bba1;
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.3s ease;
  z-index: 2;
  border-radius: 2px;
}
.right-container .data-column nav.menu-list ul li.data-content a.menu-item::after {
  content: "";
  position: absolute;
  bottom: -17px;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #01bba1;
  z-index: 1;
  transition: width 0.3s ease;
  border-radius: 2px;
}
.right-container .data-column nav.menu-list ul li.data-content a.menu-item:hover::after, .right-container .data-column nav.menu-list ul li.data-content a.menu-item.active::after {
  width: 100%;
}
.right-container .data-column nav.menu-list ul::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 3px;
  background-color: #f1f2f4;
  z-index: 1;
  min-width: 810px;
}

@media (max-width: 1300px) {
  .right-container .data-column nav.menu-list ul::before {
    min-width: -webkit-fill-available;
  }
}
@media (max-width: 780px) {
  .right-container .data-column nav.menu-list ul {
    width: 275px;
  }
  .right-container .data-column nav.menu-list ul::before {
    width: 275px;
  }
}
#wrapper .custom-sidebar {
  box-shadow: 4px 5px 14px rgba(0, 0, 0, 0.1607843137);
  margin-left: 6rem;
  z-index: -99999;
  min-height: 100vh;
}
#wrapper .custom-sidebar .user-info h2 {
  font-size: 15px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  width: 300px;
  padding-left: 2rem;
}
#wrapper .custom-sidebar .user-info .content {
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  padding-top: 1rem;
}
#wrapper .custom-sidebar .user-info p {
  margin-bottom: 0;
  font-size: 14px;
  padding-left: 2rem;
}

@media (max-width: 767px) {
  .custom-sidebar {
    margin-left: 1rem;
  }
}
body {
  font-family: "Merriweather", serif;
  background-color: rgba(236, 240, 255, 0.1490196078);
}

#wrapper #page-content-wrapper .custom-content {
  padding: 1rem;
}
#wrapper #page-content-wrapper .custom-content .right-container {
  display: flex;
  flex-direction: column;
}
#wrapper #page-content-wrapper .custom-content .right-container .row {
  display: flex;
  flex-direction: column;
}/*# sourceMappingURL=style.css.map */